@charset "utf-8";
body {
	font: 13px, Arial, Helvetica, clean, sans-serif;
	/*background-image: url(../images/det_bg_elements.jpg); */
	background-position: top;
	background-repeat:no-repeat;
	background-color: #000;
	margin: 0;
	padding: 0;
	color: #000;
}

.code{
	font-size: 12px;
	font-family: monospace, times,serif;
	background-color: #CBCBB2;
	padding: 10px;
	margin: 20px, 5px;
}

#top{
	text-align: right;
	color: #F0F8FF;
	margin-left:5em;
	margin-left:5em;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, {
	
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	text-align: center;

}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	font: bold;
	color: #669DD6;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	font: bold;
	color: #A8C4DF;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 969px;
	max-width: 1260px;/* For percentages only. IE6 does not respect this declaration. */
	min-width: 780px;/* a min-width may be desirable to keep this layout from getting too narrow.For percentages only IE6 does not respect this declaration. */
	display: block;
	background: #FFFFFF;
	background-attachment: scroll;
	border: #565656 solid 2px;
	margin: 50px auto 70px auto;
	box-shadow: 5px 5px 5px black; /*CSS3 property test */
	float: none;
	 /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}
/*  the header height and width is not a fixed value. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	margin: 5px 0px 0px 200px;
	height: 100px;
	width: 900px;
	background-image:url(../images/header.png);
	background-color:transparent;
}

.section {
	color: #0B3861;
	font-weight:bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 10px 0px;
	font-size: 16px;
	border-bottom: solid #A9D0F5 1px;
}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.


*/

.content {
	padding: 20px 10px;
	margin: 0px 30px 0px 45px;
	width: 60%;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}


/* ~~ The navigation list styles */
.navbar1 {
	float: none;
	text-align: center;
	border-top: groove 2px #333;
	width: 20%;
	background-color: #000;
	padding: 5px;
	clear: both;
	display: inline;
	text-align: center;
	list-style: none;
	margin-top: 60px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	
}


ul.nav {
	list-style: none; /* this removes the list marker */
/*	border-bottom: 1px solid #666;  this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-top: 35px; /* this creates the space between the navigation on the content below */
	display: block;
	margin-left: 100px;
	margin-top: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: none;
	position: relative;
	height: 43px;
	width: 969px;
	position:absolute;
	top:125px;
	left:200px;
	clip: rect(auto,auto,auto,auto);
	bottom: auto;
	top: 30;
	
	
}
ul.nav li {
	border-right: 1px solid #333; /* this creates the button separation */
	display: inline;
	text-transform: capitalize;
	text-align: center;
	color: #FFF;
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: inline; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	color: #CCC;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #6F7D94;
	color: #FF3;
}

/* ~~ The footer ~~ */
.footer {
	font: 12px;
	padding: 10px 0;
	background: #333;
	color: #F6FFD1;
	position: relative;
	clear: both;  /*this clear property forces the .container to understand where the columns end and contain them */
	text-align: center;
}

.footer-wrapper {
				 background-image:url(../images/page_bg_footer_red.png);
				 background-repeat: repeat-x;
				 background-color: #000;
				 width: 100%;
				 height: 100px;
                 padding: 30px 40px 20px 40px;
				 text-shadow:#000;
				 text-indent: inherit;
				 border-top: double 3px #463940;
				 font: #8C8C8C;
}
p#copyright {
	text-align: center;
	color: #41343D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 0px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.container .content h1 {
	text-align: center;
}
.container .content h3 {
	text-align: center;
	font-weight: bold;
}
.container .content h4 {
	text-align: center;
}
